/* =====================
Base / Reset styles
==================== */

body {
   font-family: "Roboto", sans-serif;
   color: #434455;
   background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
   margin: 0;
}

ul,
ol {
   margin: 0;
   padding: 0;
   list-style: none;
}

a {
   text-decoration: none;
   color: inherit;
}

img {
   display: block;
   max-width: 100%;
   height: auto;
}

/* ========
Global-section-setings
========= */

.section {
   padding: 120px 0;
}

/* =====================
Container
==================== */

.container {
   max-width: 1158px;
   padding: 0 15px;
   margin: 0 auto;
}

/* =====================
Header
==================== */

.page-header {
   border-bottom: 1px solid #e7e9fc;
   box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
   display: flex;
   align-items: center;
}

.header-nav {
   display: flex;
   align-items: center;
}

.nav-list {
   display: flex;
   gap: 40px;
}

.contacts {
   margin-left: auto;
   font-style: normal;
}

.contacts-list {
   display: flex;
   gap: 40px;
}

.nav-link {
   display: block;
   padding: 24px 0;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #2e2f42;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link.current{
   position: relative;
}
.nav-link.current::after{
   content: "";
position:absolute;

left: 0;
bottom: -1px;

   width:100%;
   height:4px;

   background-color:#404bbf;
   border-radius: 2px;
}



.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.nav-link.current
{
   color: #404bbf;
}

.contacts-link {
   display: block;
   padding: 24px 0;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #434455;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* =====================
Logo
==================== */

.logo {
   font-family: "Raleway", sans-serif;
   font-weight: 700;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #4d5ae5;
}

.logo-part {
   color: #2e2f42;
}

.header-logo {
   margin-right: 76px;
   padding: 24px 0;
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}

/* =====================
Hero section
==================== */

.hero {
   padding: 188px 0;
   background-color: #2e2f42;
   background-image:linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/people-office.jpg");
   width: 1440px;
   height: 600px;
   margin: auto;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.hero-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}

.hero-title {
   max-width: 496px;
   margin-bottom: 48px;
   font-weight: 700;
   font-size: 56px;
   line-height: 1.07;
   letter-spacing: 0.02em;
   color: #ffffff;
}

.hero-btn {
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   line-height: 1.5;
   padding: 16px 32px;
   min-width: 169px;
   font-family: inherit;
   font-size: 16px;
   font-weight: 500;
   letter-spacing: 0.04em;
   color: #ffffff;
   background-color: #4d5ae5;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.hero-btn:hover,
.hero-btn:focus {
   background-color: #404bbf;
}

/* =====================
Features section
==================== */

.hero-section-info {
   padding: 120px 0;
}

.section-list {
   display: flex;
   gap: 24px;
   justify-content: center;
   flex-wrap: wrap;
}
.features-icon-box {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 264px;
   height: 112px;
   background-color: #f4f4fd;
   border: 1px solid #8e8f99;
   border-radius: 4px;
   margin-bottom: 8px;

}

.section-list li {
   width: calc((100% - 72px) / 4);
}

.features-title {
   margin-bottom: 8px;
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: #2e2f42;
}

.features-text {
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
}

/* =====================
Team section
==================== */

.section-team {
   background-color: #f4f4fd;
   padding: 120px 0;
}

.team-title {
   margin-bottom: 72px;
   font-size: 36px;
   font-weight: 700;
   text-align: center;
   color: #2e2f42;
   line-height: 1.11;
      
      letter-spacing: 0.02em;
}

.team-list {
   display: flex;
   gap: 24px;
   justify-content: center;
   flex-wrap: wrap;
}

.team-card {
   width: calc((100% - 72px) / 4);
   background-color: #ffffff;
   border-radius: 0 0 4px 4px;
   box-shadow:
      0 2px 1px rgba(46, 47, 66, 0.08),
      0 1px 1px rgba(46, 47, 66, 0.16),
      0 1px 6px rgba(46, 47, 66, 0.08);
}

.team-card-content {
   padding:32px 16px;
   text-align: center;
}

.team-card h3 {
   margin-bottom: 8px;
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   color: #2e2f42;
   letter-spacing: 0.02em;
}

.team-card p {
   font-size: 16px;
   line-height: 1.5;
   color: #434455;
   letter-spacing: 0.02em;
}
.team-social-list {
   display: flex;
   gap: 24px;
   margin-top: 8px;
}
.team-social-link {
   background-color: #4d5ae5;
   border-radius: 50%;
   width: 40px;
   height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-link:hover,
.team-social-link:focus {
   background-color: #404bbf;
}
.team-social-icon {
   fill:#f4f4fd;
}

/* Portfolio section */

.portfolio {
   padding: 120px 0;
}

.team-portfolio {
   margin-bottom: 72px;
   font-weight: 700;
   font-size: 36px;
   line-height: 1.11;
   letter-spacing: 0.02em;
   text-align: center;
   color: #2e2f42;
}


.portfolio-list {
   display: flex;
   flex-wrap: wrap;
   gap: 48px 24px;
}

.portfolio-card {
   width: 360px;
   background-color: #ffffff;
   border: none;
}

.portfolio-title {
   text-align: left;
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: #2e2f42;
}

.portfolio-category {
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #434455;
}
.portfolio-text {
   padding: 32px 16px;
   border: 1px solid #e7e9fc;
   border-top: none;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 48px;
  column-gap: 24px;
}
.portfolio-cover-wrap {
  position: relative;
  overflow: hidden;

}
.portfolio-cover-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card:hover .portfolio-cover-text{
 transform: translateY(0);
}
.portfolio-card{
    width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card:hover{
    cursor: pointer;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);

}

/* =====================
Footer
==================== */

.footer {
   background-color: #2e2f42;
   padding-top: 100px;
   padding-bottom: 100px;

}

.footer-container {
   display: flex;
   align-items: baseline;
}

.footer-wrapper-logo {
   margin-right: 120px;
}



.footer-logo {
   display: inline-block;
   padding: 0;
   margin-right: 0;
   margin-bottom: 16px;
}
.footer-logo-header-logo{
 color:#4d5ae5;
   font-family: 'Raleway', sans-serif;
}

.footer-logo-span {
   color: #f4f4fd;
     font-family: 'Raleway', sans-serif;
}

.footer-text {
   width: 264px;
   line-height: 1.5;
   color: #F4F4FD;
   letter-spacing: 0.02em;
}

.footer-wrapper-socialmedia-text {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #ffffff;
   margin-bottom: 16px;
}

.footer-social-list {
   display: flex;
   gap: 16px;
}

.footer-social-item {
   width: 40px;
   height: 40px;
}

.footer-social-icon {
   fill: #f4f4fd;
}

.footer-social-link {
   width: 100%;
   height: 100%;
   background-color: #4d5ae5;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
   background-color: #31d0aa;

}